 
@model Repository.Library.DbContext.Entities.Student

@{
    ViewBag.Title = "Home Page";
}


<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Tên level</th>
            <th class="text-center">Mô tả</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-center">Mức doanh thu(VND)</th>
            <th class="text-center">Phần trăm ký gửi(%)</th>
            <th class="text-center">Thao tác</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
